/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap_and_overrides
 */ 

 ul{
    float: left;
    list-style-type: none;
   }
.list{
  padding-left: 30px;
  font-weight: bold;
  font-size: 15px;
  padding-top: 30px;

}
.grand_total{
  font-weight: bold;
  font-size: 17px;
  margin-left:30px;
}

.table{
	border: 1px solid black;
	border-collapse: collapse;
	width :90%;
	margin-left:40px;
}
.table th{
  font-size: 18px;
}
.table tbody td{
    font-weight: lighter;
}
h3{
	text-align: center;
}
.input-sm
{
width: 60px;
border: 1px solid black;
}
/*.order_less
{
  font-color: ;
  font-size: 25px;
  margin-top: 12%;
}*/